# CSV Concatenation 
The purpose of this notebook is to take twelve csv files (each one with a month's data on Northern CA electric loads) and concatenate them to form a 2022 electric load csv.

In [1]:
import os
import pandas as pd

In [75]:
directory_path = "/Users/aidanwiteck/Desktop/Princeton/Year 4/Thesis/electricgrid/banc_load_data/BANCMonthData"

all_files = [f for f in os.listdir(directory_path) if f.endswith('.csv')]
print(all_files)

['930-data-export (10).csv', '930-data-export (2).csv', '930-data-export (3).csv', '930-data-export (11).csv', '930-data-export.csv', '930-data-export (4).csv', '930-data-export (8).csv', '930-data-export (9).csv', '930-data-export (5).csv', '930-data-export (6).csv', '930-data-export (7).csv', '930-data-export (1).csv']

In [65]:
# Initialize an empty list to store the dataframes
dfs = []

# Read each CSV file and append it to the list
for filename in all_files:
    df = pd.read_csv(os.path.join(directory_path, filename))
    dfs.append(df)

# Concatenate all the dataframes together
final_df = pd.concat(dfs, ignore_index=True)

/Users/aidanwiteck/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:10: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  # Remove the CWD from sys.path while we load stuff.

In [66]:
final_df[:10]

,BA Code,Demand (MWh),Demand Forecast (MWh),Net Generation (MWh),Percent Change from Prior Hour,Prior Hour Demand (MWh),Region Code,Region Type,Selected Hour Demand (MWh),Selected Hour Timestamp (Hour Ending),Timestamp (Hour Ending),Total Interchange (MWh)
0,BANC,1508.0,1491.0,884.0,NaN,NaN,NaN,NaN,NaN,NaN,11/1/2022 12 a.m. PDT,-624.0
1,BANC,1459.0,1450.0,1064.0,NaN,NaN,NaN,NaN,NaN,NaN,11/1/2022 1 a.m. PDT,-395.0
2,BANC,1412.0,1394.0,1038.0,NaN,NaN,NaN,NaN,NaN,NaN,11/1/2022 2 a.m. PDT,-374.0
3,BANC,1374.0,1368.0,1039.0,NaN,NaN,NaN,NaN,NaN,NaN,11/1/2022 3 a.m. PDT,-335.0
4,BANC,1379.0,1360.0,1073.0,NaN,NaN,NaN,NaN,NaN,NaN,11/1/2022 4 a.m. PDT,-306.0
5,BANC,1416.0,1398.0,1083.0,NaN,NaN,NaN,NaN,NaN,NaN,11/1/2022 5 a.m. PDT,-333.0
6,BANC,1513.0,1499.0,1113.0,NaN,NaN,NaN,NaN,NaN,NaN,11/1/2022 6 a.m. PDT,-400.0
7,BANC,1677.0,1663.0,1253.0,NaN,NaN,NaN,NaN,NaN,NaN,11/1/2022 7 a.m. PDT,-424.0
8,BANC,1804.0,1797.0,1311.0,NaN,NaN,NaN,NaN,NaN,NaN,11/1/2022 8 a.m. PDT,-493.0
9,BANC,1832.0,1823.0,1187.0,NaN,NaN,NaN,NaN,NaN,NaN,11/1/2022 9 a.m. PDT,-645.0

In [67]:
final_df[-10:]

,BA Code,Demand (MWh),Demand Forecast (MWh),Net Generation (MWh),Percent Change from Prior Hour,Prior Hour Demand (MWh),Region Code,Region Type,Selected Hour Demand (MWh),Selected Hour Timestamp (Hour Ending),Timestamp (Hour Ending),Total Interchange (MWh)
8108,BANC,1707.0,1726.0,1160.0,NaN,NaN,NaN,NaN,NaN,NaN,2/28/2022 3 p.m. PST,-547.0
8109,BANC,1741.0,1751.0,1166.0,NaN,NaN,NaN,NaN,NaN,NaN,2/28/2022 4 p.m. PST,-575.0
8110,BANC,1826.0,1805.0,1373.0,NaN,NaN,NaN,NaN,NaN,NaN,2/28/2022 5 p.m. PST,-453.0
8111,BANC,1906.0,1898.0,1264.0,NaN,NaN,NaN,NaN,NaN,NaN,2/28/2022 6 p.m. PST,-642.0
8112,BANC,2003.0,2041.0,1687.0,NaN,NaN,NaN,NaN,NaN,NaN,2/28/2022 7 p.m. PST,-316.0
8113,BANC,1969.0,1993.0,1603.0,NaN,NaN,NaN,NaN,NaN,NaN,2/28/2022 8 p.m. PST,-366.0
8114,BANC,1904.0,1933.0,1452.0,NaN,NaN,NaN,NaN,NaN,NaN,2/28/2022 9 p.m. PST,-452.0
8115,BANC,1812.0,1838.0,1290.0,NaN,NaN,NaN,NaN,NaN,NaN,2/28/2022 10 p.m. PST,-522.0
8116,BANC,1675.0,1713.0,1243.0,NaN,NaN,NaN,NaN,NaN,NaN,2/28/2022 11 p.m. PST,-432.0
8117,BANC,1555.0,1602.0,1037.0,NaN,NaN,NaN,NaN,NaN,NaN,3/1/2022 12 a.m. PST,-518.0

## Convert each time to a `pd timestamp` object. Then we can sort based on this.

In [68]:
# NOTE: we disregard any difference between PDT and PST here. 
final_df['Timestamp (Hour Ending)'] = final_df['Timestamp (Hour Ending)'].str.replace(
    "a.m.", "AM").str.replace(
    "p.m.", "PM").str.replace(
    " PDT", "").str.replace(
    " PST", "")

# Convert the modified 'Timestamp (Hour Ending)' column to datetime format
final_df['Timestamp (Hour Ending)'] = pd.to_datetime(
    final_df['Timestamp (Hour Ending)'], format='%m/%d/%Y %I %p', errors='coerce')

final_df.head()

,BA Code,Demand (MWh),Demand Forecast (MWh),Net Generation (MWh),Percent Change from Prior Hour,Prior Hour Demand (MWh),Region Code,Region Type,Selected Hour Demand (MWh),Selected Hour Timestamp (Hour Ending),Timestamp (Hour Ending),Total Interchange (MWh)
0,BANC,1508.0,1491.0,884.0,NaN,NaN,NaN,NaN,NaN,NaN,2022-11-01 00:00:00,-624.0
1,BANC,1459.0,1450.0,1064.0,NaN,NaN,NaN,NaN,NaN,NaN,2022-11-01 01:00:00,-395.0
2,BANC,1412.0,1394.0,1038.0,NaN,NaN,NaN,NaN,NaN,NaN,2022-11-01 02:00:00,-374.0
3,BANC,1374.0,1368.0,1039.0,NaN,NaN,NaN,NaN,NaN,NaN,2022-11-01 03:00:00,-335.0
4,BANC,1379.0,1360.0,1073.0,NaN,NaN,NaN,NaN,NaN,NaN,2022-11-01 04:00:00,-306.0

In [69]:
final_df = final_df.drop(columns=['Percent Change from Prior Hour', 
                                  'Prior Hour Demand (MWh)', 
                                  'Region Code',
                                  'Region Type',
                                  'Selected Hour Demand (MWh)',
                                  'Selected Hour Timestamp (Hour Ending)'
                                 ])
final_df = final_df.rename(columns={'Timestamp (Hour Ending)': 'timestamp'})

In [70]:
final_df.head()

,BA Code,Demand (MWh),Demand Forecast (MWh),Net Generation (MWh),timestamp,Total Interchange (MWh)
0,BANC,1508.0,1491.0,884.0,2022-11-01 00:00:00,-624.0
1,BANC,1459.0,1450.0,1064.0,2022-11-01 01:00:00,-395.0
2,BANC,1412.0,1394.0,1038.0,2022-11-01 02:00:00,-374.0
3,BANC,1374.0,1368.0,1039.0,2022-11-01 03:00:00,-335.0
4,BANC,1379.0,1360.0,1073.0,2022-11-01 04:00:00,-306.0

In [71]:
final_df = final_df.sort_values(by='timestamp')
final_df.head()

,BA Code,Demand (MWh),Demand Forecast (MWh),Net Generation (MWh),timestamp,Total Interchange (MWh)
2278,BANC,1856.0,1831.0,1427.0,2022-01-01 00:00:00,-429.0
2279,BANC,1786.0,1740.0,1463.0,2022-01-01 01:00:00,-323.0
2280,BANC,1729.0,1683.0,1365.0,2022-01-01 02:00:00,-364.0
2281,BANC,1699.0,1639.0,1441.0,2022-01-01 03:00:00,-258.0
2282,BANC,1693.0,1620.0,1423.0,2022-01-01 04:00:00,-271.0

In [74]:
final_df.to_csv(
    "/Users/aidanwiteck/Desktop/Princeton/Year 4/Thesis/electricgrid/banc_load_data/concatenated_data/BANC2022.csv", 
    index=False)

In [116]:
import matplotlib.pyplot as plt

In [120]:
path = "/Users/aidanwiteck/Desktop/Princeton/Year 4/Thesis/electricgrid/data/final_tables/banc/banc.csv"
df = pd.read_csv(path)
df['timestamp'] = pd.to_datetime(df['timestamp'])
df = df.drop_duplicates(subset=['timestamp'])

In [121]:
df.shape

(65784, 9)

In [122]:
df.head()

,timestamp,Demand (MWh),Demand Forecast (MWh),Net Generation (MWh),Region,temperature,humidity,cloudcover,windspeed
0,2015-07-01 01:00:00,2513.0,2226.0,1559.0,banc,38.5,18,10,8.7
1,2015-07-01 02:00:00,2275.0,2035.0,1441.0,banc,37.7,19,12,10.4
2,2015-07-01 03:00:00,2104.0,1897.0,1399.0,banc,35.4,23,11,10.7
3,2015-07-01 04:00:00,1988.0,1821.0,1354.0,banc,32.5,27,16,11.4
4,2015-07-01 05:00:00,1958.0,1811.0,1334.0,banc,30.3,31,21,9.0

In [123]:
def fill_missing_rows(df):
    # Ensure the 'timestamp' column is of datetime format
    df['timestamp'] = pd.to_datetime(df['timestamp'])

    # Generate the full date-time range with an hourly frequency
    full_range = pd.date_range(start='2015-07-01 10:00:00', end='2023-01-01 00:00:00', freq='H')

    # Set the DataFrame's index to the 'timestamp' column
    df.set_index('timestamp', inplace=True)

    # Reindex the DataFrame with the full date-time range
    df = df.reindex(full_range)

    # Forward fill missing values for each column
    columns_to_fill = ["Demand (MWh)", "Demand Forecast (MWh)", "Net Generation (MWh)"]
    for col in columns_to_fill:
        df[col].fillna(method='ffill', inplace=True)

    # Reset the index to return the 'timestamp' column to the DataFrame
    df.reset_index(inplace=True)
    df.rename(columns={'index': 'timestamp'}, inplace=True)
    
    return df

In [124]:
df = fill_missing_rows(df)

In [125]:
# Filter rows that contain any NaN or NaT values
rows_with_na = df[df.isna().any(axis=1)]

# Print those rows
print(rows_with_na)

Empty DataFrame
Columns: [timestamp, Demand (MWh), Demand Forecast (MWh), Net Generation (MWh), Region, temperature, humidity, cloudcover, windspeed]
Index: []

In [114]:
64981./365/12

14.835844748858447

In [126]:
2741*24

65784

In [11]:
803/24

33.458333333333336

In [127]:
df[2930:3500]

,timestamp,Demand (MWh),Demand Forecast (MWh),Net Generation (MWh),Region,temperature,humidity,cloudcover,windspeed
2930,2015-10-31 12:00:00,1727.0,1760.0,1030.0,banc,12.9,72,0,6.3
2931,2015-10-31 13:00:00,1749.0,1805.0,1028.0,banc,12.3,78,0,6.9
2932,2015-10-31 14:00:00,1780.0,1836.0,1055.0,banc,12.1,80,0,7.5
2933,2015-10-31 15:00:00,1825.0,1878.0,1117.0,banc,12.1,80,0,6.4
2934,2015-10-31 16:00:00,1883.0,1932.0,1223.0,banc,15.5,65,0,6.0
2935,2015-10-31 17:00:00,1958.0,1970.0,1385.0,banc,19.9,47,0,4.6
2936,2015-10-31 18:00:00,1989.0,1983.0,1427.0,banc,22.7,38,0,5.0
2937,2015-10-31 19:00:00,2005.0,2005.0,1585.0,banc,23.6,32,0,6.3
2938,2015-10-31 20:00:00,1952.0,2007.0,1392.0,banc,25.7,28,0,7.6
2939,2015-10-31 21:00:00,1885.0,1952.0,1331.0,banc,27.2,26,0,9.1
2940,2015-10-31 22:00:00,1807.0,1872.0,1231.0,banc,28.2,26,0,8.6
2941,2015-10-31 23:00:00,1716.0,1735.0,1163.0,banc,28.4,27,0,10.0
2942,2015-11-01 00:00:00,1598.0,1597.0,1046.0,banc,27.8,30,0,8.9
2943,2015-11-01 01:00:00,1487.0,1430.0,980.0,banc,25.8,37,0,8.5
2944,2015-11-01 02:00:00,1368.0,1311.0,959.0,banc,23.7,45,0,10.4
2945,2015-11-01 03:00:00,1345.0,1286.0,946.0,banc,21.9,55,0,11.4
2946,2015-11-01 04:00:00,1327.0,1289.0,927.0,banc,20.3,65,3,11.6
2947,2015-11-01 05:00:00,1342.0,1304.0,954.0,banc,18.9,73,11,11.2
2948,2015-11-01 06:00:00,1377.0,1363.0,938.0,banc,17.7,78,15,10.9
2949,2015-11-01 07:00:00,1412.0,1422.0,982.0,banc,17.3,80,30,10.7
2950,2015-11-01 08:00:00,1474.0,1473.0,967.0,banc,16.6,83,53,10.0
2951,2015-11-01 09:00:00,1559.0,1557.0,993.0,banc,16.1,85,57,10.4
2952,2015-11-01 10:00:00,1642.0,1613.0,1060.0,banc,15.9,86,57,10.1
2953,2015-11-01 11:00:00,1687.0,1641.0,1088.0,banc,15.6,86,64,11.7
2954,2015-11-01 12:00:00,1728.0,1664.0,1115.0,banc,15.2,87,70,10.2
2955,2015-11-01 13:00:00,1720.0,1668.0,1106.0,banc,14.9,88,63,7.9
2956,2015-11-01 14:00:00,1710.0,1678.0,1110.0,banc,14.3,91,61,7.9
2957,2015-11-01 15:00:00,1710.0,1679.0,1175.0,banc,14.1,92,60,9.0
2958,2015-11-01 16:00:00,1746.0,1720.0,1246.0,banc,15.3,84,84,10.5
2959,2015-11-01 17:00:00,1819.0,1800.0,1387.0,banc,17.0,75,86,8.3
...,...,...,...,...,...,...,...,...,...
3470,2015-11-23 00:00:00,1559.0,1558.0,987.0,banc,18.3,54,27,1.4
3471,2015-11-23 01:00:00,1469.0,1519.0,881.0,banc,16.3,67,28,3.5
3472,2015-11-23 02:00:00,1424.0,1453.0,839.0,banc,14.6,68,29,5.4
3473,2015-11-23 03:00:00,1402.0,1438.0,824.0,banc,14.5,65,29,5.4
3474,2015-11-23 04:00:00,1416.0,1452.0,838.0,banc,13.9,66,29,4.7
3475,2015-11-23 05:00:00,1474.0,1511.0,911.0,banc,12.1,74,29,4.1
3476,2015-11-23 06:00:00,1607.0,1633.0,977.0,banc,11.4,77,29,3.9
3477,2015-11-23 07:00:00,1799.0,1834.0,1152.0,banc,10.3,80,27,4.3
3478,2015-11-23 08:00:00,1862.0,1908.0,1134.0,banc,9.1,85,28,4.5
3479,2015-11-23 09:00:00,1889.0,1931.0,1108.0,banc,9.4,83,28,3.5
3480,2015-11-23 10:00:00,1900.0,1910.0,1114.0,banc,10.0,78,27,3.1
3481,2015-11-23 11:00:00,1917.0,1903.0,1107.0,banc,10.3,75,23,2.9
3482,2015-11-23 12:00:00,1868.0,1892.0,1022.0,banc,10.1,75,13,1.9
3483,2015-11-23 13:00:00,1836.0,1861.0,911.0,banc,9.0,80,9,2.9
3484,2015-11-23 14:00:00,1836.0,1839.0,948.0,banc,8.6,82,4,2.5
3485,2015-11-23 15:00:00,1818.0,1827.0,966.0,banc,8.2,84,0,2.6
3486,2015-11-23 16:00:00,1835.0,1835.0,926.0,banc,9.2,81,0,0.8
3487,2015-11-23 17:00:00,1906.0,1927.0,955.0,banc,12.0,73,1,2.1
3488,2015-11-23 18:00:00,2091.0,2135.0,1415.0,banc,14.7,64,0,3.6
3489,2015-11-23 19:00:00,2094.0,2143.0,1362.0,banc,15.6,59,0,6.1
3490,2015-11-23 20:00:00,2055.0,2108.0,1165.0,banc,16.9,57,0,7.4
3491,2015-11-23 21:00:00,2006.0,2056.0,1037.0,banc,17.7,55,0,7.9
3492,2015-11-23 22:00:00,1906.0,1951.0,968.0,banc,18.2,54,0,7.9
3493,2015-11-23 23:00:00,1761.0,1805.0,1002.0,banc,18.1,54,0,9.2
3494,2015-11-24 00:00:00,1624.0,1659.0,871.0,banc,17.1,59,0,7.1
3495,2015-11-24 01:00:00,1515.0,1563.0,825.0,banc,15.0,66,0,9.5
3496,2015-11-24 02:00:00,1454.0,1500.0,792.0,banc,13.2,73,0,11.4
3497,2015-11-24 03:00:00,1437.0,1483.0,800.0,banc,11.9,79,0,11.0
3498,2015-11-24 04:00:00,1431.0,1482.0,841.0,banc,10.7,85,4,10.4
3499,2015-11-24 05:00:00,1485.0,1533.0,876.0,banc,9.9,89,5,10.1

In [106]:
df

,timestamp,Demand (MWh),Demand Forecast (MWh),Net Generation (MWh),Region,temperature,humidity,cloudcover,windspeed
0,2015-07-01 10:00:00,2599.0,2529.0,1674.0,banc,24.3,48,3,6.6
1,2015-07-01 11:00:00,2880.0,2811.0,1709.0,banc,23.1,53,22,6.6
2,2015-07-01 12:00:00,3127.0,3123.0,1918.0,banc,22.1,58,29,7.7
3,2015-07-01 13:00:00,3297.0,3427.0,1978.0,banc,21.2,63,25,5.2
4,2015-07-01 14:00:00,3506.0,3720.0,2211.0,banc,22.2,59,9,7.4
5,2015-07-01 15:00:00,3667.0,3963.0,2219.0,banc,24.3,52,27,7.4
6,2015-07-01 16:00:00,3752.0,4137.0,2337.0,banc,26.9,44,29,10.6
7,2015-07-01 17:00:00,3842.0,4239.0,2362.0,banc,30.0,36,32,10.6
8,2015-07-01 18:00:00,3851.0,4244.0,2399.0,banc,32.9,29,41,11.1
9,2015-07-01 19:00:00,3728.0,4106.0,2416.0,banc,33.0,25,34,12.0
10,2015-07-01 20:00:00,3578.0,3874.0,2238.0,banc,33.8,23,30,12.3
11,2015-07-01 21:00:00,3421.0,3622.0,2143.0,banc,35.5,20,29,13.8
12,2015-07-01 22:00:00,3252.0,3383.0,1939.0,banc,36.8,19,59,8.1
13,2015-07-01 23:00:00,2910.0,2963.0,1872.0,banc,37.0,19,81,6.4
14,2015-07-02 00:00:00,2559.0,2593.0,1581.0,banc,36.7,20,53,6.6
15,2015-07-02 01:00:00,2293.0,2190.0,1497.0,banc,35.7,22,37,6.0
16,2015-07-02 02:00:00,2104.0,1991.0,1437.0,banc,34.2,25,38,4.7
17,2015-07-02 03:00:00,1974.0,1850.0,1350.0,banc,32.5,28,14,2.5
18,2015-07-02 04:00:00,1893.0,1779.0,1284.0,banc,30.5,31,11,4.4
19,2015-07-02 05:00:00,1896.0,1756.0,1311.0,banc,28.5,35,22,7.4
20,2015-07-02 06:00:00,1970.0,1816.0,1394.0,banc,26.8,38,24,10.8
21,2015-07-02 07:00:00,2053.0,1889.0,1469.0,banc,28.0,36,20,11.2
22,2015-07-02 08:00:00,2209.0,2043.0,1554.0,banc,26.8,38,19,10.9
23,2015-07-02 09:00:00,2342.0,2206.0,1602.0,banc,25.8,39,15,11.0
24,2015-07-02 10:00:00,2525.0,2426.0,1604.0,banc,24.9,41,34,6.5
25,2015-07-02 11:00:00,2745.0,2682.0,1747.0,banc,23.9,43,37,3.4
26,2015-07-02 12:00:00,2939.0,2969.0,1785.0,banc,23.0,45,35,4.8
27,2015-07-02 13:00:00,3111.0,3276.0,1933.0,banc,22.1,47,30,8.7
28,2015-07-02 14:00:00,3313.0,3580.0,2093.0,banc,21.9,49,30,11.5
29,2015-07-02 15:00:00,3490.0,3842.0,2226.0,banc,22.5,47,32,13.3
...,...,...,...,...,...,...,...,...,...
65745,2022-12-30 19:00:00,2087.0,2159.0,1749.0,banc,12.8,95,100,22.9
65746,2022-12-30 20:00:00,2021.0,2093.0,1683.0,banc,13.2,95,100,22.7
65747,2022-12-30 21:00:00,1969.0,2036.0,1631.0,banc,13.9,96,100,22.4
65748,2022-12-30 22:00:00,1888.0,1956.0,1624.0,banc,14.4,96,100,25.8
65749,2022-12-30 23:00:00,1784.0,1848.0,1395.0,banc,14.6,96,100,24.9
65750,2022-12-31 00:00:00,1677.0,1723.0,1339.0,banc,14.5,97,100,23.2
65751,2022-12-31 01:00:00,1601.0,1603.0,1332.0,banc,14.5,96,100,21.9
65752,2022-12-31 02:00:00,1527.0,1542.0,1298.0,banc,14.6,95,100,21.0
65753,2022-12-31 03:00:00,1493.0,1507.0,1266.0,banc,14.4,96,100,20.0
65754,2022-12-31 04:00:00,1459.0,1494.0,1208.0,banc,14.4,96,100,19.4
65755,2022-12-31 05:00:00,1464.0,1513.0,1210.0,banc,14.2,96,100,19.2
65756,2022-12-31 06:00:00,1504.0,1580.0,1242.0,banc,14.1,97,100,19.3
65757,2022-12-31 07:00:00,1589.0,1666.0,1404.0,banc,14.5,97,100,18.8
65758,2022-12-31 08:00:00,1649.0,1749.0,1398.0,banc,14.3,97,100,17.7
65759,2022-12-31 09:00:00,1728.0,1827.0,1268.0,banc,14.1,97,100,16.5
65760,2022-12-31 10:00:00,1821.0,1895.0,1297.0,banc,13.8,97,100,14.9
65761,2022-12-31 11:00:00,1917.0,1929.0,1298.0,banc,13.6,98,100,13.7
65762,2022-12-31 12:00:00,1976.0,1925.0,1285.0,banc,13.4,98,100,13.0
65763,2022-12-31 13:00:00,1985.0,1914.0,1305.0,banc,13.3,98,100,9.8
65764,2022-12-31 14:00:00,1992.0,1913.0,1392.0,banc,13.2,97,100,7.1
65765,2022-12-31 15:00:00,2004.0,1904.0,1503.0,banc,13.0,99,100,4.7
65766,2022-12-31 16:00:00,2017.0,1925.0,1578.0,banc,12.7,98,100,5.8
65767,2022-12-31 17:00:00,2094.0,2007.0,1706.0,banc,12.5,98,100,7.1
65768,2022-12-31 18:00:00,2153.0,2144.0,1762.0,banc,12.5,97,100,8.5
65769,2022-12-31 19:00:00,2120.0,2105.0,1609.0,banc,12.7,94,100,11.0
65770,2022-12-31 20:00:00,2025.0,2021.0,1539.0,banc,12.5,92,100,11.7
65771,2022-12-31 21:00:00,1821.0,1941.0,1503.0,banc,12.3,91,100,14.0
65772,2022-12-31 22:00:00,1686.0,1862.0,1488.0,banc,12.1,91,100,17.2
65773,2022-12-31 23:00:00,1625.0,1784.0,1570.0,banc,12.1,91,100,19.6
65774,2023-01-01 00:00:00,1594.0,1717.0,1602.0,banc,11.8,89,100,24.2

In [115]:
# daily_counts = df.groupby(df['timestamp'].dt.date).size()
daily_counts = df.groupby(df['timestamp'].dt.strftime('%Y-%m-%d')).size()
# Generate the complete date range for the period
full_date_range = pd.date_range(start="2015-07-01", end="2022-12-31", freq="D")

# Identify dates with counts different from 24
dates_with_incorrect_counts = full_date_range[~full_date_range.isin(daily_counts.index)]
dates_with_less_than_24 = daily_counts[daily_counts != 24].index

# Combine and de-duplicate the dates
all_missing_dates = pd.Index(dates_with_incorrect_counts).union(dates_with_less_than_24)

# Print out those dates
for date in all_missing_dates:
    try: 
        print(date.strftime('%Y-%m-%d'))
    except:
        print("NaT")

NaT
NaT

In [107]:
# Filter rows where 'timestamp' is on '2016-03-13'
filtered_rows = df[df['timestamp'].dt.date == pd.to_datetime('2016-03-13').date()]

# Print the filtered rows
print(filtered_rows)

               timestamp  Demand (MWh)  Demand Forecast (MWh)  \
6134 2016-03-13 00:00:00        1659.0                 1615.0
6135 2016-03-13 01:00:00        1538.0                 1502.0
6136 2016-03-13 02:00:00        1538.0                 1502.0
6137 2016-03-13 03:00:00        1494.0                 1433.0
6138 2016-03-13 04:00:00        1472.0                 1417.0
6139 2016-03-13 05:00:00        1443.0                 1409.0
6140 2016-03-13 06:00:00        1487.0                 1435.0
6141 2016-03-13 07:00:00        1556.0                 1502.0
6142 2016-03-13 08:00:00        1620.0                 1553.0
6143 2016-03-13 09:00:00        1668.0                 1611.0
6144 2016-03-13 10:00:00        1743.0                 1684.0
6145 2016-03-13 11:00:00        1820.0                 1750.0
6146 2016-03-13 12:00:00        1885.0                 1769.0
6147 2016-03-13 13:00:00        1902.0                 1776.0
6148 2016-03-13 14:00:00        1883.0                 1778.0
6149 2016-03-13 15:00:00        1895.0                 1762.0
6150 2016-03-13 16:00:00        1869.0                 1763.0
6151 2016-03-13 17:00:00        1875.0                 1777.0
6152 2016-03-13 18:00:00        1937.0                 1804.0
6153 2016-03-13 19:00:00        1987.0                 1897.0
6154 2016-03-13 20:00:00        2068.0                 2034.0
6155 2016-03-13 21:00:00        2030.0                 2046.0
6156 2016-03-13 22:00:00        1937.0                 1966.0
6157 2016-03-13 23:00:00        1797.0                 1722.0

      Net Generation (MWh) Region  temperature  humidity  cloudcover  \
6134                1373.0   banc         12.6        81         100
6135                1207.0   banc         12.1        86         100
6136                1207.0    NaN         11.8        88         100
6137                1205.0   banc         11.6        88         100
6138                1156.0   banc         11.4        89         100
6139                1171.0   banc         11.2        90         100
6140                1238.0   banc         11.2        90         100
6141                1302.0   banc         11.5        90         100
6142                1339.0   banc         11.5        90         100
6143                1344.0   banc         11.4        90         100
6144                1330.0   banc         11.2        91         100
6145                1399.0   banc         11.1        91         100
6146                1488.0   banc         11.0        91         100
6147                1441.0   banc         10.7        92         100
6148                1428.0   banc         10.5        91         100
6149                1432.0   banc         10.4        90         100
6150                1463.0   banc         10.4        90         100
6151                1460.0   banc         10.6        90         100
6152                1607.0   banc         11.1        91         100
6153                1658.0   banc         11.9        93         100
6154                1630.0   banc         12.4        93         100
6155                1474.0   banc         12.6        92         100
6156                1434.0   banc         12.7        93         100
6157                1427.0   banc         12.9        93         100

      windspeed
6134       17.4
6135       15.3
6136       13.8
6137       13.7
6138       14.1
6139       15.0
6140       15.6
6141       16.6
6142       17.7
6143       18.4
6144       16.6
6145       17.3
6146       18.1
6147       17.1
6148       18.6
6149       19.3
6150       19.6
6151       19.7
6152       19.3
6153       20.1
6154       20.7
6155       21.2
6156       23.2
6157       21.2

In [16]:
df['timestamp'][-80:]

64901    2022-12-31 12:00:00
64902    2022-12-31 13:00:00
64903    2022-12-31 14:00:00
64904    2022-12-31 15:00:00
64905    2022-12-31 16:00:00
64906    2022-12-31 17:00:00
64907    2022-12-31 18:00:00
64908    2022-12-31 19:00:00
64909    2022-12-31 20:00:00
64910    2022-12-31 21:00:00
64911    2022-12-31 22:00:00
64912    2022-12-31 23:00:00
64913    2023-01-01 00:00:00
64914                    NaN
64915                    NaN
64916                    NaN
64917                    NaN
64918                    NaN
64919                    NaN
64920                    NaN
64921                    NaN
64922                    NaN
64923                    NaN
64924                    NaN
64925                    NaN
64926                    NaN
64927                    NaN
64928                    NaN
64929                    NaN
64930                    NaN
                ...
64951                    NaN
64952                    NaN
64953                    NaN
64954                    NaN
64955                    NaN
64956                    NaN
64957                    NaN
64958                    NaN
64959                    NaN
64960                    NaN
64961                    NaN
64962                    NaN
64963                    NaN
64964                    NaN
64965                    NaN
64966                    NaN
64967                    NaN
64968                    NaN
64969                    NaN
64970                    NaN
64971                    NaN
64972                    NaN
64973                    NaN
64974                    NaN
64975                    NaN
64976                    NaN
64977                    NaN
64978                    NaN
64979                    NaN
64980                    NaN
Name: timestamp, Length: 80, dtype: object