In [8]:
!pip install seaborn

Requirement already satisfied: seaborn in /Users/aidanwiteck/anaconda3/lib/python3.7/site-packages (0.9.0)
Requirement already satisfied: numpy>=1.9.3 in /Users/aidanwiteck/anaconda3/lib/python3.7/site-packages (from seaborn) (1.21.6)
Requirement already satisfied: scipy>=0.14.0 in /Users/aidanwiteck/anaconda3/lib/python3.7/site-packages (from seaborn) (1.2.1)
Requirement already satisfied: pandas>=0.15.2 in /Users/aidanwiteck/anaconda3/lib/python3.7/site-packages (from seaborn) (1.3.5)
Requirement already satisfied: matplotlib>=1.4.3 in /Users/aidanwiteck/anaconda3/lib/python3.7/site-packages (from seaborn) (3.0.3)
Requirement already satisfied: cycler>=0.10 in /Users/aidanwiteck/anaconda3/lib/python3.7/site-packages (from matplotlib>=1.4.3->seaborn) (0.10.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /Users/aidanwiteck/anaconda3/lib/python3.7/site-packages (from matplotlib>=1.4.3->seaborn) (1.0.1)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /Users/aidanwiteck/anaconda3/lib/python3.7/site-packages (from matplotlib>=1.4.3->seaborn) (2.3.1)
Requirement already satisfied: python-dateutil>=2.1 in /Users/aidanwiteck/anaconda3/lib/python3.7/site-packages (from matplotlib>=1.4.3->seaborn) (2.8.0)
Requirement already satisfied: pytz>=2017.3 in /Users/aidanwiteck/anaconda3/lib/python3.7/site-packages (from pandas>=0.15.2->seaborn) (2019.3)
Requirement already satisfied: six in /Users/aidanwiteck/anaconda3/lib/python3.7/site-packages (from cycler>=0.10->matplotlib>=1.4.3->seaborn) (1.12.0)
Requirement already satisfied: setuptools in /Users/aidanwiteck/anaconda3/lib/python3.7/site-packages (from kiwisolver>=1.0.1->matplotlib>=1.4.3->seaborn) (40.8.0)

In [9]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

ModuleNotFoundError: No module named 'seaborn'

In [4]:
df = pd.read_csv("../data/final_tables/banc/banc.csv")
df.head()

,timestamp,Demand (MWh),Demand Forecast (MWh),Net Generation (MWh),Region,Normalized Demand,temperature,humidity,cloudcover,windspeed,day_of_week,hour
0,2015-07-01 01:00:00,2513.0,2226.0,1559.0,banc,0.537190,38.5,18,10,8.7,2,1
1,2015-07-01 02:00:00,2275.0,2035.0,1441.0,banc,0.279477,37.7,19,12,10.4,2,2
2,2015-07-01 03:00:00,2104.0,1897.0,1399.0,banc,0.094315,35.4,23,11,10.7,2,3
3,2015-07-01 04:00:00,1988.0,1821.0,1354.0,banc,-0.031293,32.5,27,16,11.4,2,4
4,2015-07-01 05:00:00,1958.0,1811.0,1334.0,banc,-0.063778,30.3,31,21,9.0,2,5

In [6]:
# Prepare a DataFrame to store correlations
correlation_matrix = pd.DataFrame(index=range(24), columns=range(24))

# Calculate correlations
for i in range(24):
    for j in range(24):
        hourly_data_i = df[df['hour'] == i]['Demand (MWh)']
        hourly_data_j = df[df['hour'] == j]['Demand (MWh)']
        correlation_matrix.loc[i, j] = hourly_data_i.corr(hourly_data_j)

# Convert the correlation matrix to numeric for plotting
correlation_matrix = correlation_matrix.astype(float)

# Plotting the heatmap
plt.figure(figsize=(10, 8))
sns.heatmap(correlation_matrix, annot=True, cmap='coolwarm')
plt.title('Hourly Load Value Correlation Heatmap')
plt.xlabel('Hour of the Day')
plt.ylabel('Hour of the Day')
plt.show()

NameError: name 'plt' is not defined